body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:610px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:7px;
  width:410px;
  height:610px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:538px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:53px;
  width:300px;
  height:538px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:56px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:65px;
  width:137px;
  height:46px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:center;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:126px;
  width:40px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u15 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:157px;
  width:251px;
  height:36px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:513px;
  width:251px;
  height:40px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:247px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:270px;
  width:270px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:203px;
  width:94px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u19 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:224px;
  width:251px;
  height:36px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:301px;
  width:251px;
  height:36px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:347px;
  width:270px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u22 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:378px;
  width:251px;
  height:36px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:424px;
  width:270px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u24 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:455px;
  width:251px;
  height:36px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
